name: build
on:
  push:
    branches: ["ENGINEERING"]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: ENGINEERING
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        registry: ${{ secrets.DOCKERHUB_REGISTRY }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - run: echo "WEBAPP_VERSION=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
    - uses: docker/build-push-action@v5
      with:
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/webapp:${{ env.WEBAPP_VERSION }}
        context: .
        build-args: |
          WEBAPP_VERSION=${{ env.WEBAPP_VERSION }}
          WEBAPP_ADDRESS=0.0.0.0
          WEBAPP_PORT=8080
          WEBAPP_LOG_LEVEL=info
          WEBAPP_APPLICATION=app.webapp:GAPPLICATION
          WEBAPP_DATABASE=santacruz
